.navbar-inverse {
    background-color: green !important;
    border-color: white;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: black !important;
    background-color: #dad2d2 !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: black !important;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:hover {
    color: white;
    background-color: transparent;
}
.navbar-toggle{
    background: black !important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #fbfafa;
}

.navbar-inverse .btn-link:hover, .navbar-inverse .btn-link:focus {
    color: #1f1e1e !important;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-toggle {
    background: #8a8989 !important;
}